
<div id="bottom-outer">
    <div id="bottom-inner">
        © 2024 <i class="fa fa-heart" id="heart"></i> <%= config.author %> 
        <br>
        「 就在那个时刻，你记得这并非幻觉，的确就在那个时刻，那只手和那块石头的接触面，她突然回过头冲你说：我也爱着你。 」
        <% if (theme.ICP.enable){ %>
          <div class="icp-info">
            <% if(theme.ICP.icon){ %>
            <img  class="icp-icon" src="<%=theme.ICP.icon %>">
            <% } %>
          <a href="<%=theme.ICP.link%>" target="_blank"> <%=theme.ICP.text%></a>
        </div>
        <% } %>
    </div>  
  </div>
  <%- partial('partial/script') %>

